@import "variables.less";


/**
 * 清除默认样式
 */

a {
    text-decoration: none;
}
li {
    list-style: none;
}

/**
 *整体布局
 */

html,
body {
    // width: 100%;
    font-size: 14px;
    font-family: "microsoft yahei", tahoma, arial, Helvetica, sans-serif;
    //background: @bg-body;
}
body {
    // overflow-x: hidden;
    margin: 0;
    padding: 0;
}




.page-body {

 /* 页面首部
   ========================================================================== */    
    .header {
        &_msg {
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            width: 100%;
            height: 56px;
            color: @font-white;
            line-height: 56px;
            background-color: #0f223f;
            &__left {
                display: flex;
                justify-content: space-around;
                flex: 1;
                height: 100%;
                line-height: 56px;
                .logo {
                display: inline-block;
                margin-top: 12px;
                width: 32px;
                height: 34px;
                background-color: #fff;
               
                }
                .title {
                    display: inline-block;
                    font-size: 24px;
                    line-height: 56px;
                }
                .nowdate {
                    display: inline-block;
                }
                
            }
            &__center{
                width: 460px;
                text-align: center;
                .project-title {
                    position: relative;
                    font-size: 30px;
                    color: #4891be;
                    &::before,
                    &::after {
                        content: "";
                        display: inline-block;                        
                        position: absolute;
                        top: 50%;
                        width: 77px;
                        height: 2px;
                        background-color: #4891be;
                        
                    }
                    &::before {
                       left:-111px;
                    }
                    &::after {
                        right:-111px;
                    }
                }
            }
            &__right {
                flex: 1;
                // vertical-align: middle;
                border: 1px solid red;
                position: relative;
                .zoom-btn {
                    display: inline-block;
                    width: 24px;
                    height: 26px;
                    margin-top: 16px;
                    background-color: #fff;
                }
            }
        }
        &_nav {
            
        }
        
    }

 /* 页面主体
   ========================================================================== */    
    .content {
        padding: 0 40px;
    }
    
}

