@import "variables.less";


/**
 * 清除默认样式
 */

a {
    text-decoration: none;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
/**
 *整体布局
 */

html,
body,
.page-body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "microsoft yahei", tahoma, arial, Helvetica, sans-serif;
}
body {
    background: @bg-body url(../images/bg_grid.png) repeat-x;
    background-position: 0 100%;
    background-attachment: fixed;
}
.page-body {

 /* 页面首部
   ========================================================================== */    
    .header {
        &_msg {
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            width: 100%;
            height: 56px;
            color: @font-white;
            line-height: 56px;
            box-sizing: border-box;
            background-color: #0f223f;
            border-bottom: 2px solid #79D5F2; 
            box-shadow: 1px 1px 5px rgba(121, 213, 242, .8),inset 1px 1px 5px rgba(121, 213, 242, .8); 
            &__left {
                flex: 1;
                float: left;
                height: 100%;
                line-height: 56px;
                .logo {
                display: inline-block;
                vertical-align: middle;
                width: 32px;
                height: 34px;
                background-color: #fff; 
            
                }
                .title {
                    display: inline-block;
                    margin-left: 4px;
                    font-size: 18px;
                    line-height: 56px;
                }
                .nowdate {
                    display: inline-block;
                    margin-left: 6px;
                }
                
            }
            &__center{
                width: 460px;
                text-align: center;
                .project-title {
                    position: relative;
                    font-size: 24px;
                    color: #83CBE4;
                    &::before,
                    &::after {
                        content: "";
                        display: inline-block;                        
                        position: absolute;
                        top: 50%;
                        width: 77px;
                        height: 2px;
                    }
                    &::before {
                       left:-111px;
                       background: linear-gradient(90deg,#2C6790 0%,#4EC1E2 25%,#4EC1E2 100%);
                    }
                    &::after {
                        right:-111px;
                        background: linear-gradient(-90deg,#2C6790 0%,#4EC1E2 25%,#4EC1E2 100%);
                    }
                }
            }
            &__right {
                flex: 1;
                position: relative;
                .zoom-btn {
                    display: inline-block;
                    vertical-align: middle;
                    width: 24px;
                    height: 26px;
                    background-color: #fff;
                }
                span {
                    margin: 0 4px;                
                }
            }
        }
        &_nav {
            display: flex;
            padding: 0 40px;
            height: 34px;
            &__left {
                flex: 1;
                .clear-fix;
                ul {
                    float: left;
                    padding: 0;
                    li {
                        float: left;
                        &:nth-child(n+2) {
                            margin-left: 18px;
                        }
                        a {
                            color: #fff;
                        }
                        a:hover {
                            color: #4891be;
                        }
                    }
                }

            }
            &__center {
                position: relative;
                margin-top: -4px;
                width: 460px;
                color: #fff;
                background-color: #010926;               
                box-sizing: border-box;
                overflow: hidden;
                .accumulative-time {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    line-height: 34px; 
                    text-align: center;
                    border-right: 0;
                    border-left: 0;
                    border-top: 2px solid #0f223f;
                    background-color: #0f223f;
                    box-sizing: border-box;
                    border-bottom: 2px solid #79D5F2;                  
                    span {
                        color: #4891be;
                    }
                }
                .rotate-square {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    width: 22px;
                    height: 44px;
                    background-color: @bg-body;
                    
                }
                .rotate-square__left {
                    left: 0;
                    transform:rotate(-26deg) translate3d(-13px,-5px,0);
                    border-right: 2px solid #79D5F2;
                }
                .rotate-square__right {
                    right: 0;
                    transform:rotate(26deg) translate3d(13px,-5px,0);
                    border-left: 2px solid #79D5F2;
                }
            }

            &__right {
                flex: 1;
                .clear-fix;
                ul {
                    padding: 0;
                    float: right;
                    li {
                        display: inline-block;
                        &:nth-child(n+2) {
                            margin-left: 18px;
                        }
                        a {
                            color: #fff;
                        }
                        a:hover {
                            color: #4891be;
                        }
                    }
                }


            }
        }
        
    }

 /* 页面主体
   ========================================================================== */    
    .content {
        padding: 40px 40px 0;
        height: 600px;

        &_wrapper {
            display: flex;
            height: 100%;
        }
        .content_left,
        .content_center,
        .content_right {
            height: 100%;
        }
        .content_left {
            flex: 1;
            .card__engineer {
                margin-bottom: 40px;
                .card__content {
                    ul {
                        padding: 0;
                        li {
                            line-height: 32px;
                            .text-point;
                            span {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        .content__center {
            flex: 3;
            margin-left: 20px;
            border: 1px solid yellow;
        }
        .content__right {
            flex: 1;
            margin-left: 20px;
        }
    }
    
}

//劳务管理页面
.content {
    &__center {
        .realTime-avatar,
        .register-avatar {
            height: 320px;
        }
        .realTime-avatar {
            width: 480px;           
            background-color: #999;
        }
        .register-avatar {
            width: 218px;
            background-color: #999;
        }
    }
}
//环境监测页面
.content {
    height: 600px;
    &__wrapper {
        display: flex;
        height: 100%;
        &__left {
            flex: 1;
            // border: 1px solid yellow;
        }
        &__right {
            flex: 4;
            margin-left: 20px;
        }
    }
}


 /* 自定义组件样式
   ========================================================================== */  
// card组件
.card {
    position: relative;
    padding: 20px 16px;
    width: 100%;
    border-radius: 4px;
    background: rgba(15, 34, 63, .5);
    box-sizing: border-box;
    &__header {
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        &__center {
            text-align: center; 
            font-size: 24px;
        }
    }
    &__header-top {
        padding-top: 20px;
    }
    &__content {
        font-size: 12px;
        color: #fff;
    }
    &__content-top {
        padding-top: 20px;
    }
    &__top-title {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        max-width: 180px;
        height: 32px;
        line-height: 32px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border-radius: 4px;
        background-color: #4891BE;
        transform: translate3d(-50%,-50%,0);       
    }
    &::before,
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 10%;
        height: 20%;
    }
    &::before {
        right: 0;
        top: 0;
        border-top: 2px solid #4891BE;
        border-right: 2px solid #4891BE;
    }
    &::after {
        bottom: 0;
        left: 0;
        border-bottom: 2px solid #4891BE;
        border-left: 2px solid #4891BE;
    }
    &__wrapper {
        height: 100%;
        display: flex;
        
        &__left {
            height: 100%;
            flex: 3;
            padding: 10px 0 10px 15px;
        }
        &__right {
            margin-left: 20px;
            height: 100%;
            flex: 1;
            padding: 10px 15px 15px 0;  
        }
    }
}

//box-card组件
.box-card {
    box-sizing: border-box;
    padding-bottom: 10px;

    &:last-child {
        border-bottom: none;
    }   
    &__header {
        width: 100%;
        &__title {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            line-height: 32px;
        }
        &__text-right {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            float: right;
            line-height: 32px;
        }
    }
    &__content {
        width: 100%;
        padding: 10px 0;
    }
}
.box-card__border {
    border-bottom: 1px solid #316180;
}

//icon-text组件
.icon-text {
    &::before {
        content: "";
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        background-color: red;
        vertical-align: middle;
    }
}

//icon-box组件
.icon-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 90px;
    &__graph {
        width: 50px;
        height: 50px;
        background-color: #999;
        border-radius: 50%;
    }
    &__title {
        font-size: 12px;
        color: #fff;
        text-align: center;
    }
}

//table-info组件
.table-info {
    width: 100%;
    tr {       
        td {
            vertical-align: middle;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
    .three-column {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 30px;
        td {
            vertical-align: middle;
            &:first-child {
                text-align: left;
            }
            &:nth-child(2) {
                display:inline-block;
                width: 80px;
                height:4px;
                background-color: yellow; 
                border-radius: 10px;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
}
//table-list组件
    .table-list {   
        width: 100%;       
        tr {
            display: flex;
            align-items: center;
            margin-top: 10px;
            padding:1px 8px; 
            font-size: 12px;
            color: #fff;
            text-align: center;
            background: rgba(26,52,82,.6);            
            th {
                flex: 1;
                padding: 10px 0;
            }
            td {
                flex: 1;               
            }
        }
        .tr__th {
            margin-bottom: 20px;
            background: linear-gradient(90deg,#011832 0%,#10486E 50%,#011832 100%);
        }

    }

 /* 封装原始组合样式
   ========================================================================== */  

.flex-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-space_around {
    display: flex;
    justify-content: space-around;
}
.flex-column_aligncenter {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.flex-space_between {
    display: flex;
    justify-content: space-between;
}
.dis-flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.flex-3 {
    flex: 3;
}


 /* 重置自定义样式
   ========================================================================== */  
.remove-padding {
    padding: 0;
}
.inline-block {
    display: inline-block;
}
.text-center {
    text-align: center;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-left-80 {
    margin-left: 80px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-20 {
    margin-top: 20px;
}
// .padding-updown-10 {
//     padding: 10px 0;
// }
// .bor-down-